POSTGRES_DB=weathertracker
POSTGRES_USER=weathertracker
POSTGRES_PASSWORD=weathertracker
POSTGRES_HOST=db
POSTGRES_PORT=5432

BACKEND_URL=http://backend:8000
NEXT_PUBLIC_API_BASE=http://localhost:8000

OPENMETEO_TZ=auto
SCHEDULER_INTERVAL_MINUTES=30
SNAPSHOT_MODELS=ecmwf_ifs,gfs_seamless,icon_global,gem_global,meteofrance_arpege_world,ukmo_global
